.main{
    width: 500px;
    height: max-content;
    min-height: 480px;
    max-height: 480px;
    @include borderRadius(10px);
}

@media screen and (max-width: 480px){
    .main{
        width: 90vw;
    }
}